@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

body{
    padding: 0;
    margin:0;
    height: 100vh;

    font-family: 'Roboto',Arial;

    display: flex;
    flex-direction: column;

    user-select:none;
}


.header{
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: cornflowerblue;
    font-weight: bold;
    font-size:48px;

}

.header span{
    margin-left: 50px;
}


.game-viewport{

    flex:1;
    display:flex;
    flex-direction: column;

    /*background-color: red;*/
   
   
}
.game-viewport div img{
    width: 200px;

    /*background-color: yellow;*/

}


.select-item{
    flex: 0.75;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 36px;

    /*background-color: green;*/
}

.player-selection-items{
    flex:1;
    display:flex;
    justify-content:center;
    column-gap: 8%;

    /*background-color: black;*/

}

.item-container{
    width: 210px;
    height: 210px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.15s;
    
}

.item-container:hover{
    border: 2px solid cornflowerblue;
    background-color: rgb(238, 237, 237);
    box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
    border-radius:5px;

    scale: 1.25;
}


.item-container img{
    width: 200px;

    /*background-color: yellow;*/

}

.result-Display{
    font-size: x-large;
    

    text-align: center;

    margin-top: -10px;
    margin-bottom: 10px;
}

.stats-container{
    flex:1;
    display: flex;
    flex-direction: column;
    /*background-color: beige;*/
}


.stats-title{
    width: 50%;
    align-self: center;
    text-align: center;
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    padding: 10px 0;

    font-size: x-large;
}

.stats{
    display: flex;
    justify-content: center;
    column-gap: 10%;

    font-size: large;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    height: 50px;

    background-color: lightslategray;
}

.footer-link{
    text-decoration: none;
    color: black;
    transition: all 0.15s;
}

.footer-link:hover{
    text-decoration: underline;
    color:white
}



